
html {
    scroll-behavior: smooth;
}
h1,h2, h3, h4 {
    font-family: 'Rock Salt', cursive;
}
p, .subhead, .subheadmain {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
a:link {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: black;
  }
.nav {
    display: flex;
    justify-content: center;
    z-index: 10;
}
#navGrid {
    display: grid;
    position: fixed;
    bottom: 10px;
    max-width: 800px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "homeLink CSLink UILink aboutLink processLink funLink"
        ;
    z-index: 10;
    text-align: center;
}
#homeLink {
    grid-area: homeLink; 
}
#CSLink {
    grid-area: CSLink;
}
#UILink {
    grid-area: UILink;
}
#aboutLink {
    grid-area: aboutLink;
}
#processLink {
    grid-area: processLink;
}
#funLink {
    grid-area: funLink;
}
.linkArea img {
    width: 90%;
}
.p1 {
    /* background paint splatter */
    background-image: url(../images/splatter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
}
#p1Grid {
    display: grid;
    width: 1100px;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "p1left p1right"
        ;
}
#p1left {
    grid-area: p1left;
    background-image: url(../images/helloSticker.svg);
}
#p1right {
    grid-area: p1right; 
    place-self: center;
    font-size: 26px;
    padding-left: 20px;
}
.p1Area {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bgimg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: inherit;
}
#p2 {
    background-image: url(../images/brushred.png);
    margin-top: 50px;
    margin-bottom: 50px;
}
#p2Grid {
    display: grid;
    width: 1100px;
    height: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
        "nonprof nonprof nonprof"
        "gov rec trav"
        ;
    gap: 20px 20px;
}
#nonprof {
    grid-area: nonprof;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "nonprofImage nonprofText"
        ;
}
#nonprofImage {
    grid-area: nonprofImage;
}
#nonprofImage img {
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #7e7e7e52;
}
#nonprofText {
    grid-area: nonprofText;
}
#nonprofImage, #nonprofText {
    place-self: center;
    display: block;
}
#nonprofMobile {
    display: none;
    grid-area: nonprofMobile;
    background-image: url(../images/caseStudy-nonprofit.png);
    background-position: center;
}
#gov {
grid-area: gov;
background-image: url(../images/caseStudy-gov@2x.png);
}
#rec {
grid-area: rec;
background-image: url(../images/caseStudy-recycle.png);
}
#trav {
grid-area: trav;
background-image: url(../images/caseStudy-travel@1.png);
}
#gov, #rec, #trav, #nonprofMobile {
box-shadow: 0 0 5px 2px #7e7e7e52;
border-radius: 10px;
}
.CSArea {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.csOverlay {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffd7;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .CSArea:hover .csOverlay {
    height: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .cstext {
    font-size: 16px;
    transform: translate(10%, -40%);
  }
#p3 {
    background-image: url(../images/brushyellow.png);
    margin-top: 100px;
    text-align: center;
}
#p3Container{
    display: block;
    width: 1100px;
    height: 600px;
    gap: 16px;
}
#p3title {
    grid-area: p3title;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
}
#p3Row {
    display: flex;
    flex-direction: row;
    overflow: auto;

}
.p3imgContainer {
    position: relative;
    width: 50%;
    height: 320px;
}
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 5px 2px #7e7e7e52;
    border-radius: 10px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    left: 10%;
    bottom: 10%;
} 
.p3imgContainer:hover .image {
    opacity: 0.3;
}
.p3imgContainer:hover .middle {
    opacity: 1;
}
.text {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
#p4 {
    background-image: url(../images/brushGreen.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
#p4Grid {
    width: 1100px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "p4title p4title"
        "p4img p4text"
        ;
}
#p4title {
    grid-area: p4title;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
}
#p4img {
    grid-area: p4img;
    padding-right: 50px;
}
#p4text {
    grid-area: p4text;
    display: grid;
    font-family: 'Oswald', sans-serif;
    grid-template-columns: 1fr;
    grid-template-rows: 85% 15%;
    grid-template-areas: 
        "p4t"
        "p4t2"
        ;
}
#p4t2 {
    justify-self: center;
    align-self: start;
}
button {
    border-radius: 10px;
    background-color: #37aa59;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    z-index: 0;
  }
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  button:hover:after {
    opacity: 1;
    right: 10px;
  }
#p5 {
    background-image: url(../images/brushBlue.png);
}
#p5Grid {
    display: grid;
    width: 1100px;
    height: 900px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas: 
        "p5t p5t" 
        "p5img1 p5img1" 
        "p5text1 p5text2"
        "p5text3 p5text3"
        ;
}
#p5t {
    grid-area: p5t;
    text-align: center;
    align-self: end;
}
#p5img1 {
    grid-area: p5img1;
    background-image: url(../images/myProcess_full.png);
    background-position: center;
}
#p5img2 {
    grid-area: p5img2;
    background-image: url(../images/UX\ part\ 2.svg);
    background-position: left;
    display: none;
}
#p5text1 {
    grid-area: p5text1;
    padding: 16px;
    text-align: center;
}
#p5text2 {
    grid-area: p5text2;
    padding: 16px;
    text-align: center;
}
#p5text3 {
    grid-area: p5text3;
    text-align: center;
}
.p5Area {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#p6 {
    background-image: url(../images/brushPurple.png);
}
#p6Grid {
    display: grid;
    width: 1100px;
    height: 1300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 2fr 2fr;
    grid-template-areas: 
        "p6t p6t"
        "photo ami"
        "read sport"
        ;
}
#p6t {
    grid-area: p6t;
    text-align: center;
    align-self: end;
}
#photo {
    grid-area: photo;
    text-align: center;
}
#ami {
    grid-area: ami;
    text-align: center;
}
#read {
    grid-area: read;
    text-align: center;
}
#sport {
    grid-area: sport;
    text-align: center;
}
#p7 img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
footer {
    background-image: url(../images/splatter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 250px;
    display: block;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0..25);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
}
footer img {
    width: 46px;
    margin-top: 20px;
}
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
  }
  .preloader img {
    animation: spin 3s ease;
    transition: all;
    width: 150px;
    margin: 0 auto;
  }
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    a:hover, a:active  {
        text-decoration: underline;
    }
    #p1Grid {
        width: 975px;
        height: 500px;
    }
    #p2 {
        margin-top: 25px;
        margin-bottom: 50px;
    }
    #p3 {
        margin-top: 75px;
        text-align: center;
    }
    #p3Container{
        width: 980px;
        height: 500px;
    }
    .p3imgContainer:hover .image,  .p3imgContainer:active .image{
        opacity: 0.3;
    }
    .p3imgContainer:hover .middle, .p3imgContainer:active .middle {
        opacity: 1;
    }
    button:hover, button:active{
        padding-right: 24px;
        padding-left:8px;
      }
    button:hover:after, button:active:after {
        opacity: 1;
        right: 10px;
      }
    #p5 {
        background-position: top;
    }
    #p5Grid {
        width: 980px;
        height: 700px;
    }
    #p6 {
        background-position: top;
    }
    #p6t {
        margin-top: 25px;
    }
    #p6Grid {
        height: 1320px;
    }
    footer {
        height: 270px;
    }
}
@media only screen and (max-width: 767px) {
    /* start of medium tablet styles */
    #navGrid {
        bottom: 10px;
        width: 700px;
        height: 90px;
    }
    .linkArea img {
        width: 80%; 
    }
    #p1Grid {
        display: grid;
        width: 555px;
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "p1left" 
            "p1right"
            ;
    }
    #p2 {
        background-position: top;
    }
    #p2Grid {
        width: 600px;
        height: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "nonprofMobile"
            "gov" 
            "rec" 
            "trav"
            ;
        gap: 20px 20px;
    }
    #nonprofImage {
        display: none;
    }
    #nonprofText {display: none;}
    #nonprofMobile {display: none;}
    #nonprofMobile {display: block;}
    .CSArea:hover .csOverlay {
        height: 30%;
    }
    #p3 {
        margin-top: 75px;
        background-position: top;
        text-align: center;
    }
    #p3Container{
        width: 760px;
        height: 400px;
        margin-top: 25px;
    }
    .p3imgContainer:hover .image,  .p3imgContainer:active .image{
        opacity: 0.3;
    }
    .p3imgContainer:hover .middle, .p3imgContainer:active .middle {
        opacity: 1;
    }
    button:hover, button:active{
        padding-right: 24px;
        padding-left:8px;
      }
    button:hover:after, button:active:after {
        opacity: 1;
        right: 10px;
      }
    #p4 {
        background-position: top;
        margin-top: 50px;
    }
    #p4Grid {
        width: 500px;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 2fr 2fr;
        grid-template-areas: 
            "p4title"
            "p4img" 
            "p4text"
            ;
    }
    #p4text {
        padding-right: 20px;
    }
    #p4t2 {
        justify-self: center;
        align-self: end;
    }
    #p5 {
        background-position: top;
        margin-top: 50px;
    }
    #p5Grid {
        display: grid;
        width: 555px;
        height: 1100px;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 25% 15% 25% 15% 10%;
        grid-template-areas: 
            "p5t" 
            "p5img1" 
            "p5text1" 
            "p5img2" 
            "p5text2"
            "p5text3"
            ;
    }
    #p5img1 {
        background-image: url(../images/UX\ part\ 1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p5img2 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
    }
    #p6 {
        background-position: top;
        margin-top: 50px;
    }
    #p6Grid {
        width: 750px;
        height: 2100px;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 2fr 2fr 2fr 2fr;
        grid-template-areas: 
            "p6t"
            "photo" 
            "ami"
            "read" 
            "sport"
            ;
    }
    footer {
        height: 275px;
    }
}
@media only screen and (max-width: 479px) {
    /* start of phone styles */
    #navGrid {
        width: 460px;
        height: 150px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 75px 75px;
        grid-template-areas: 
            "homeLink CSLink UILink" 
            "aboutLink processLink funLink"
            ;      
            align-items: center;
    }
    .linkArea img {
        width: 65%; 
        object-fit: contain;
    }
    #p1Grid {
        width: 360px;
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "p1left" 
            "p1right"
            ;
    }
    #p1right {
        font-size: 24px;
        text-align: center;
    }
    #p2 {
        background-position: top;
        margin-top: 25px;
    }
    #p2Grid {
        width: 400px;
        height: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "nonprofMobile"
            "gov" 
            "rec" 
            "trav"
            ;
        gap: 20px 20px;
    }
    #nonprofImage {
        display: none;
    }
    #nonprofText {display: none;}
    #nonprofMobile {display: none;}
    #nonprofMobile {display: block;}
    .CSArea:hover .csOverlay {
        height: 30%;
    }
    #p3 {
        margin-top: 60px;
        background-position: top;
        text-align: center;
    }
    #p3Container{
        width: 470px;
        height: 275px;
        margin-top: 25px;
    }
    .image {
        width: 200px;
        height: 200px;
    }
    .middle {
        left: 15%;
        bottom: 40%;
    } 
    .p3imgContainer:hover .image,  .p3imgContainer:active .image{
        opacity: 0.3;
    }
    .p3imgContainer:hover .middle, .p3imgContainer:active .middle {
        opacity: 1;
    }
    button:hover, button:active{
        padding-right: 24px;
        padding-left:8px;
      }
    button:hover:after, button:active:after {
        opacity: 1;
        right: 10px;
      }
    #p4 {
        background-position: top;
        margin-top: 50px;
    }
    #p4Grid {
        width: 460px;
        height: 900px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 30% 60%;
        grid-template-areas: 
            "p4title"
            "p4img" 
            "p4text"
            ;
    }
    #p4title {
        margin-top: 20px;
    }
    #p4text {
        font-family: 'Oswald', sans-serif;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        grid-template-areas: 
            "p4t"
            "p4t2"
            ;
    }
    #p4t {
        padding-left: 50px;
        padding-right: 20px;
    }
    iframe {
        height: 275px;
        margin: 0 auto;
    }
    #p4img {
        padding-right: 0;
    }
    #p5 {
        background-position: top;
    }
    #p5Grid {
        width: 360px;
        height: 1100px;
        grid-template-columns: 1fr;
        grid-template-rows: 8% 19% 18% 19% 18% 18%;
        grid-template-areas: 
            "p5t" 
            "p5img1" 
            "p5text1" 
            "p5img2" 
            "p5text2"
            "p5text3"
            ;
            padding-top:25px;
    }
    #p5img1 {
        grid-area: p5img1;
        background-image: url(../images/UX\ part\ 1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p5img2 {
        grid-area: p5img2;
        background-image: url(../images/UX\ part\ 2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p5text3 {
        margin-top: 50px;
    }
    #p6 {
        background-position: top;
    }
    #p6Grid {
        width: 479px;
        height: 2650px;
        grid-template-columns: 1fr;
        grid-template-rows: .25fr 1.5fr 1.5fr 1fr 1fr;
        grid-template-areas: 
            "p6t"
            "photo" 
            "ami"
            "read" 
            "sport"
            ;
    }
    footer {
        height: 350px;
    }
}
@media only screen and (max-width: 375px) {
    #navGrid {
        width: 370px;
        height: 150px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 75px 75px;
        grid-template-areas: 
            "homeLink CSLink UILink" 
            "aboutLink processLink funLink"
            ;      
            align-items: center;
    }
    .linkArea img {
        width: 65%; 
        object-fit: contain;
    }
    #p1right {
        font-size: 20px;
        text-align: center;
    }
    #p2Grid {
        width: 350px;
        height: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "nonprofMobile"
            "gov" 
            "rec" 
            "trav"
            ;
        gap: 20px 20px;
    }
    #nonprofImage {
        display: none;
    }
    #p3Container{
        width: 370px;
        height: 275px;
        margin-top: 20px;
    }
    .image {
        width: 150px;
        height: 150px;
    }
    .middle {
        left: 10%;
        bottom: 55%;
    } 
    .p3imgContainer:active .image{
        opacity: 0.3;
    }
   .p3imgContainer:active .middle {
        opacity: 1;
    }
    button:active{
        padding-right: 24px;
        padding-left:8px;
      }
    button:active:after {
        opacity: 1;
        right: 10px;
      }
      #p4 {
        background-position: top;
        margin-top: 0px;
    }
    #p4Grid {
        width: 460px;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 30% 60%;
        grid-template-areas: 
            "p4title"
            "p4img" 
            "p4text"
            ;
    }
    #p4title {
        margin-top: 20px;
    }
    #p4text {
        font-family: 'Oswald', sans-serif;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        grid-template-areas: 
            "p4t"
            "p4t2"
            ;
    }
    #p4t {
        padding-left: 70px;
        padding-right: 60px;
    }
    iframe {
        height: 250px;
        margin: 0 auto;
        padding-top: 25px;
    }
    #p4img {
        padding-right: 0;
    }
    #p5 {
        background-position: top;
    }
    #p5Grid {
        width: 360px;
        height: 1100px;
        grid-template-columns: 1fr;
        grid-template-rows: 8% 19% 18% 19% 18% 18%;
        grid-template-areas: 
            "p5t" 
            "p5img1" 
            "p5text1" 
            "p5img2" 
            "p5text2"
            "p5text3"
            ;
            padding-top:20px;
    }
    #p5img1 {
        grid-area: p5img1;
        background-image: url(../images/UX\ part\ 1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p5img2 {
        grid-area: p5img2;
        background-image: url(../images/UX\ part\ 2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p5text3 {
        margin-top: 50px;
    }
    #p6 {
        background-position: top;
    }
    #p6Grid {
        width: 479px;
        height: 4550px;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1.5fr 1.5fr 1fr 1fr;
        grid-template-areas: 
            "p6t"
            "photo" 
            "ami"
            "read" 
            "sport"
            ;
    }
    footer {
        height: 350px;
    }
}
