
html {
    scroll-behavior: smooth;
}
h1,h2, h3, h4 {
    font-family: 'Rock Salt', cursive;
}
p, .subhead, .subheadmain {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
a:link {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: black;
  }
.nav {
    display: flex;
    justify-content: center;
    z-index: 10;
}
#navGrid {
    display: grid;
    position: fixed;
    bottom: 10px;
    max-width: 800px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "homeLink CSLink UILink aboutLink processLink funLink"
        ;
    z-index: 10;
}
#homeLink {
    grid-area: homeLink; 
    padding-bottom: 20px;
}
#CSLink {
    grid-area: CSLink;
}
#UILink {
    grid-area: UILink;
}
#aboutLink {
    grid-area: aboutLink;
}
#processLink {
    grid-area: processLink;
}
#funLink {
    grid-area: funLink;
}
.linkArea img {
    object-fit: cover;
    width: 90%;
}
.p1 {
    /* background paint splatter */
    background-image: url(../images/splatter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
}
#p1Grid {
    display: grid;
    width: 1100px;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "p1left p1right"
        ;
}
#p1left {
    grid-area: p1left;
    background-image: url(../images/helloSticker.svg);
}
#p1right {
    grid-area: p1right; 
    place-self: center;
    font-size: 26px;
}
.p1Area {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bgimg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: inherit;
}
#p2 {
    background-image: url(../images/brushred.png);
    margin-top: 50px;
    margin-bottom: 50px;
}
#mobile {
    display: none;
}
#p2Grid {
    display: grid;
    width: 1100px;
    height: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "non non nontext"
        "gov rec trav"
        ;
    gap: 20px 20px;
}
#non {
    grid-area: non;
    background-image: url(../images/caseStudy-nonprofit.png);
    background-size: 70%;
}
#nontext {
    grid-area: nontext;
    justify-self: start;
    align-self: center;
}
#gov {
    grid-area: gov;
    background-image: url(../images/caseStudy-gov@2x.png);
    box-shadow: 0 0 5px 2px #7e7e7e52;
}
#rec {
    grid-area: rec;
    background-image: url(../images/caseStudy-recycle.png);
    box-shadow: 0 0 5px 2px #7e7e7e52;
}
#trav {
    grid-area: trav;
    background-image: url(../images/caseStudy-travel@1.png);
    box-shadow: 0 0 5px 2px #7e7e7e52;
}
.CSArea {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-content: end;
}
.heading, .subhead {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    height: 25px;
}
.heading {
font-family: 'Rock Salt', cursive;
}
.subhead {
    font-weight: bold;
}
.headingmain {
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
}
.subheadmain {
    font-size: 20px;
}
#p3 {
    background-image: url(../images/brushyellow.png);
    margin-top: 100px;
    text-align: center;
}
#p3Container{
    display: block;
    width: 1100px;
    height: 600px;
    gap: 16px;
}
#p3title {
    grid-area: p3title;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
}
#p3Row {
    display: flex;
    flex-direction: row;
    overflow: auto;

}
.p3imgContainer {
    position: relative;
    width: 50%;
    height: 320px;
}
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 5px 2px #7e7e7e52;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    left: 10%;
    bottom: 10%;
} 
.p3imgContainer:hover .image {
    opacity: 0.3;
}
.p3imgContainer:hover .middle {
    opacity: 1;
}
.text {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
#p4 {
    background-image: url(../images/brushGreen.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
#p4Grid {
    width: 1100px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "p4title p4title"
        "p4img p4text"
        ;
}
#p4title {
    grid-area: p4title;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
}
#p4img {
    grid-area: p4img;
    padding-right: 50px;
}
#p4text {
    grid-area: p4text;
    display: grid;
    font-family: 'Oswald', sans-serif;
    grid-template-columns: 1fr;
    grid-template-rows: 85% 15%;
    grid-template-areas: 
        "p4t"
        "p4t2"
        ;
}
#p4t2 {
    justify-self: center;
    align-self: start;
}
button {
    border-radius: 10px;
    background-color: #37aa59;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    z-index: 0;
  }
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  button:hover:after {
    opacity: 1;
    right: 10px;
  }
#p5 {
    background-image: url(../images/brushBlue.png);
}
#p5Grid {
    display: grid;
    width: 1100px;
    height: 900px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas: 
        "p5t p5t" 
        "p5img1 p5img2" 
        "p5text1 p5text2"
        "p5text3 p5text3"
        ;
}
#p5t {
    grid-area: p5t;
    text-align: center;
    align-self: end;
}
#p5img1 {
    grid-area: p5img1;
    background-image: url(../images/UX\ part\ 1.svg);
    background-position: right;
}
#p5img2 {
    grid-area: p5img2;
    background-image: url(../images/UX\ part\ 2.svg);
    background-position: left;
    
}
#p5text1 {
    grid-area: p5text1;
    padding: 16px;
    text-align: center;
}
#p5text2 {
    grid-area: p5text2;
    padding: 16px;
    text-align: center;
}
#p5text3 {
    grid-area: p5text3;
    text-align: center;
}
.p5Area {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#p6 {
    background-image: url(../images/brushPurple.png);
}
#p6Grid {
    display: grid;
    width: 1100px;
    height: 1300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 2fr 2fr;
    grid-template-areas: 
        "p6t p6t"
        "photo ami"
        "read sport"
        ;
}
#p6t {
    grid-area: p6t;
    text-align: center;
    align-self: end;
}
#photo {
    grid-area: photo;
    text-align: center;
}
#ami {
    grid-area: ami;
    text-align: center;
}
#read {
    grid-area: read;
    text-align: center;
}
#sport {
    grid-area: sport;
    text-align: center;
}
#p7 img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}
footer {
    background-image: url(../images/splatter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 200px;
    display: block;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0..25);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
}
footer img {
    width: 46px;
    margin-top: 20px;
}
@media only screen and (max-width: 730px) {
    #navGrid {
        display: grid;
        position: fixed;
        z-index: 10;
        bottom: 10px;
        width: 600px;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px;
        grid-template-areas: 
            "homeLink CSLink UILink aboutLink processLink funLink"
            ;      
            align-items: center;
    }
    .linkArea img {
        width: 70%; 
        object-fit: contain;
        margin-left: 25px;
        margin-bottom: 10px;
    }
    #p1Grid {
        display: grid;
        width: 555px;
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "p1left" 
            "p1right"
            ;
    }
    #p2 {
        background-image: url(../images/brushred.png);
        background-position: top;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    #p2Grid {
        display: grid;
        width: 555px;
        height: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
        grid-template-areas: 
            "nontext"
            "non"
            "gov" 
            "rec" 
            "trav"
            ;
        row-gap: 20px;
    }
    #p3 {
        background-image: url(../images/brushyellow.png);
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    #p3Grid {
        display: grid;
        width: 555px;
        height: 700px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr;
        grid-template-areas: 
            "p3title p3title"
            "ui001 ui002" 
            "ui003 ui004" 
            "ui005 ui006"
            ;
        gap: 16px 16px;
    }
    #p4 {
        background-image: url(../images/brushGreen.png);
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    #p4Grid {
        width: 500px;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 2fr 2fr;
        grid-template-areas: 
            "p4title"
            "p4img" 
            "p4text"
            ;
    }
    #p4text {
        grid-area: p4text;
        display: grid;
        font-family: 'Oswald', sans-serif;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        grid-template-areas: 
            "p4t"
            "p4t2"
            ;
        padding-right: 20px;
    }
    button {
        border-radius: 10px;
        background-color: #37aa59;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 16px;
        padding: 16px;
        width: 150px;
        box-shadow: 0 5px 10px -8px rgba(0, 0, 0,.7);
        z-index: 0;
      }
    #p5 {
        background-image: url(../images/brushBlue.png);
        background-position: top;
        margin-top: 50px;
    }
    #p5Grid {
        display: grid;
        width: 555px;
        height: 1100px;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 25% 15% 25% 15% 10%;
        grid-template-areas: 
            "p5t" 
            "p5img1" 
            "p5text1" 
            "p5img2" 
            "p5text2"
            "p5text3"
            ;
    }
    #p5img1 {
        grid-area: p5img1;
        background-image: url(../images/UX\ part\ 1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p5img2 {
        grid-area: p5img2;
        background-image: url(../images/UX\ part\ 2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p6 {
        background-image: url(../images/brushPurple.png);
        background-position: top;
        margin-top: 50px;
    }
    #p6Grid {
        display: grid;
        width: 600px;
        height: 2500px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
        grid-template-areas: 
            "p6t"
            "photo" 
            "ami"
            "read" 
            "sport"
            ;
    }
    footer {
        background-image: url(../images/splatter.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 200px;
        display: block;
        justify-content: center;
        text-align: center;
        -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0..25);
        -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
    }
}
@media only screen and (max-width: 375px) {
    #navGrid {
        display: grid;
        position: fixed;
        bottom: 10px;
        width: 360px;
        height: 150px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 75px 75px;
        grid-template-areas: 
            "homeLink CSLink UILink" 
            "aboutLink processLink funLink"
            ;      
            align-items: center;
    }
    .linkArea img {
        width: 65%; 
        object-fit: contain;
        margin-left: 35px;
    }
    #p1Grid {
        display: grid;
        width: 360px;
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "p1left" 
            "p1right"
            ;
    }
    #p1right {
        grid-area: p1right; 
        font-size: 22px;
        text-align: center;
    }
    #p2 {
        background-image: url(../images/brushred.png);
        background-position: top;
        margin-top: 25px;
    }
    #p2Grid {
        display: grid;
        width: 360px;
        height: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "nontext"
            "non"
            "gov" 
            "rec" 
            "trav"
            ;
        row-gap: 16px;
        padding-left: 16px;
        scroll-padding-right: 16px;
    }
    #p3 {
        background-image: url(../images/brushyellow.png);
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        padding-left: 16px;
        padding-right: 16px;
    }
    #p3Grid {
        display: grid;
        width: 360px;
        height: 1000px;
        grid-template-columns: 1fr;
        grid-template-rows: .25fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "p3title"
            "ui001" 
            "ui002" 
            "ui003" 
            "ui004" 
            "ui005" 
            "ui006"
            ;
        row-gap: 16px;
    }
    #p4 {
        background-image: url(../images/brushGreen.png);
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    #p4Grid {
        width: 360px;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 20% 70%;
        grid-template-areas: 
            "p4title"
            "p4img" 
            "p4text"
            ;
        padding-left: 16px;
        padding-right: 16px;
    }
    #p4text {
        grid-area: p4text;
        display: grid;
        width: 300px;
        padding-left: 10px;
        font-family: 'Oswald', sans-serif;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        grid-template-areas: 
            "p4t"
            "p4t2"
            ;
    }
    iframe {
        width: 110%;
        height: auto;
        padding-top: 25px;
    }
    #p5 {
        background-image: url(../images/brushBlue.png);
        background-position: top;
    }
    #p5Grid {
        display: grid;
        width: 360px;
        height: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 18% 18% 18% 18% 23%;
        grid-template-areas: 
            "p5t" 
            "p5img1" 
            "p5text1" 
            "p5img2" 
            "p5text2"
            "p5text3"
            ;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 50px;
    }
    #p5img1 {
        grid-area: p5img1;
        background-image: url(../images/UX\ part\ 1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p5img2 {
        grid-area: p5img2;
        background-image: url(../images/UX\ part\ 2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #p5text3 {
        margin-top: 50px;
    }
    #p6 {
        background-image: url(../images/brushPurple.png);
        background-position: top;
    }
    #p6Grid {
        display: grid;
        width: 600px;
        height: 4500px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
        grid-template-areas: 
            "p6t"
            "photo" 
            "ami"
            "read" 
            "sport"
            ;
    }
    footer {
        background-image: url(../images/splatter.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 300px;
        display: block;
        justify-content: center;
        text-align: center;
        -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0..25);
        -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
    }
}